body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container{
    width: 100%;
    max-width: 2650px;
    display: flex;
    background-color: #f5f5f5;
}
.profile {
    width: 40%;
    height: 80vh;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #D9C9A9;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.profile .name {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #2c2c2c;
}

.profile .bio {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

.profile hr {
    width: 80%;
    border: 0.5px solid #aaa;
    margin-bottom: 20px;
}

.profile .github-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #4a3f35;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.profile .github-link:hover {
    background-color: #362b24;
}

.content{
    width: 50%;
    margin-left: 45%;
}
#activities-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.activity-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: 200px;
  overflow-y: auto;
}

.activity-card h3 {
  text-align: center;
  margin-bottom: 10px;
}

.activity-card p {
  margin: 5px 0;
}
